body {
    font-family: Arial;
    background-color: gray;
}

#tituloPrincipal {
    position: relative;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    width: 1316px;
    height: 39px;
    
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 58px;
    
    color: #000000;
}

#barNav {
    margin: 0px;
    padding: 0px;
}

#barNav ul, ol{
    list-style-type: none;
}

.opcNav {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #008EC4;
    border-radius: 5px;
}

.opcNav li a {
    margin: 0px;
    padding: 10px 16px;
    display: block;
    text-decoration: none;
    color: white;
}

.opcNav > li {
    float: left;
}

.submenuCont {
    display: none;
}

.submenu:hover .submenuCont  {
    display: block;
}



