body {
    font-family: Arial;
}

#tituloPrincipal {
    position: relative;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    width: 1316px;
    height: 39px;
    
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 58px;
    
    color: #000000;
}

#barraNavegacion {
    list-style-type: none;
    margin: 5;
    padding: 0;
    overflow: hidden;
    border-radius: 5px;
    background-color: #008EC4;
}

.opcionNavegacion {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
}

.desplegable {
    position: relative;
    display: inline-block;
}

.desplegable-contenido {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.desplegable-contenido a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.contenido {
    position: relative;
    top: 20px;
    left: 20px;
    width: 1266px;
}
