body {
    font-family: Arial;
    background-color: rgb(31, 31, 31);
}

#tituloPrincipal {
    position: relative;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    width: 1316px;
    height: 39px;
    
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 58px;
    
    color: white;
}

#barNav {
    margin: 0px;
    padding: 0px;
}

#barNav ul, ol{
    list-style-type: none;
}

.opcNav {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #008EC4;
    border-radius: 5px;
}

.opcNav li a {
    margin: 0px;
    padding: 10px 16px;
    display: block;
    text-decoration: none;
    color: white;
}

.opcNav > li {
    float: left;
}

.submenuCont {
    display: none;
}

.submenu:hover .submenuCont  {
    display: block;
}

.contenido {
    display: block;
    padding: 1px;
    margin: 20px 130px;
    border-radius: 6px;
    border: 1px solid #008EC4 ;
    background-color: white;
}

.contenido div {
    margin: 0px 10px;
}

h2, h3, p {
    font-family: Helvetica;
    margin: 15px 5px;
    padding: 2px;
}

p {
    margin: 10px 28px;
    line-height: 22px;
}

